<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref></ion-back-button>
        </ion-buttons>
        <ion-title>{{cocktail.strDrink}}</ion-title>
        <ion-buttons class="refresh-button" slot="end">
            <ion-icon name="refresh" (click)="doRefresh()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-avatar class="cocktail-image"><img src="{{cocktail.strDrinkThumb}}"></ion-avatar>
    <ion-card-subtitle>{{cocktail.strCategory}}</ion-card-subtitle>
    <ion-card-title>{{cocktail.strDrink}}</ion-card-title>
    <ion-label><strong>Glass:</strong></ion-label>
    <ion-text>{{cocktail.strGlass}}</ion-text>
    <ion-label><strong>Directions:</strong></ion-label>
    <ion-text>{{cocktail.strInstructions}}</ion-text>
    <ion-label><strong>Ingredients:</strong></ion-label>
    <ion-grid>
        <ion-row *ngFor="let ingredient of ingredients">
            <ion-col>{{ingredient.ingredient}}</ion-col>
            <ion-col>{{ingredient.measure}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
