.cocktail-image {
  height: 300px;
  width: 300px;
  margin: auto;
}

ion-content {
  text-align: center;
}

ion-card-subtitle {
  margin-top: 1em;
}

.refresh-button{
  padding-right: 1em;
  ion-icon{
    font-size: 1.5em;
  }
}