<ion-header>
  <ion-toolbar>
    <ion-title>
      Cocktail List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cocktail of cocktails.drinks" routerLink="/detail/{{cocktail.idDrink}}">
        <ion-avatar slot="start"><img src="{{cocktail.strDrinkThumb}}"></ion-avatar>
      {{cocktail.strDrink}}
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
