<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Cocktail List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-item>
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
</ion-item>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" routerLink="/detail/"><ion-icon name="wine"></ion-icon></ion-fab-button>
    </ion-fab>
    <ion-card *ngFor="let cocktail of cocktails | search : terms" routerLink="/detail/{{cocktail.idDrink}}">
        <ion-img src="{{cocktail.strDrinkThumb}}"></ion-img>
        <ion-card-header>
            <ion-card-title>
                {{cocktail.strDrink}}
            </ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>
