<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Cocktail List
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-item>
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
    <ion-button color="tertiary" routerLink="/detail/">Random</ion-button>
</ion-item>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let cocktail of cocktails | search : terms" routerLink="/detail/{{cocktail.idDrink}}">
            <ion-avatar slot="start"><img src="{{cocktail.strDrinkThumb}}"></ion-avatar>
            {{cocktail.strDrink}}
        </ion-item>
    </ion-list>
</ion-content>
